body{
    background-color: rgb(240, 32, 32);
    font-size: large;
}
p{
    color: rgb(255, 255, 255);
}

h2, h3{
    color: rgb(255, 255, 255);
    font-size: x-large;
}
#div1, #div2, #div3, #div4, #div5, #div6{
    width: 165px;
    height: 100px;
    margin: 50px;
    padding: 15px;
    border: 1px solid black;
    border: rgb(211, 211, 211) solid 5px;
    
}